@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.baskervville-sc-regular {
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 580px) {
  .logo {
      height: 3rem;
  }
}
@media (max-width: 512px) {
  .logo {
      height: 2rem;
  }
}
@media (max-width: 456px) {
  .logo {
      height: 1.5rem;
  }
}
@media (max-width: 426px) {
  .logo {
      height: 1rem;
  }
}

@media (max-width: 400px) {
  .logo {
      display: none;
  }
  
}
